body { 
background-color: black;
text-align: center; 
animation-name: splash; 
animation-duration: 2s;
} 
h1 {
    margin-top: 200px;
    color: azure;
} 
a {
    color: azure; 
}
p { 
    color: azure;
} 
@keyframes splash {
  0% {background-color: gainsboro;}
  20%   {background-color: black;}
  40%  {background-color: gainsboro;}
  60%  {background-color: black;}
  80% {background-color: gainsboro;}
  100% {background-color: black;}
}